body {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
    "sidebar header"
    "sidebar main "
    "sidebar section";
  height: 100vh;
}

.sidebar-ctr {
grid-area: sidebar;
display: flex;
width: 254px;
height: 1024px;
padding: 32px 0 32px 48px;
flex-direction: column;
align-items: center;
gap: 40px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

 .heading-ctr{
    grid-area: main;
    display: flex;
    justify-content: space-between;
    margin: 24px 24px 0 83px;
}

.search-bar{
display: flex;
width: 450px;
height: 56px;
align-items: center;
flex-shrink: 0;
background: #FCFCFC;
margin-right: 200px;

}

.user-profile {
    display: flex;
    align-items: flex-start;
    gap: 1rem; 
  }
  
  .profile-image-container {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  
  .profile-image {
    position: absolute;
    top: 0;
    left: -12px;
    width: 70px;
    height: 60px; /* Adjust height as needed */
    border-radius: 50%;
    object-fit: cover; /* Ensure image fills the space */
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .user-name {
    font-size: 0.7rem;
    font-weight: medium;
    font-family: Karla, sans-serif;
    color: #333; /* Adjust text color if needed */
  }
  
  .user-role {
    font-size: 1rem;
    font-weight: medium;
    font-family: Karla, sans-serif;
    color: #999; /* Adjust text color if needed */
  }
  
 .sales-cards{
    margin: 24px 0 0 83px;
 }

 
 .charts-ctr{
    grid-area: section; 
    display: flex;
    justify-content: space-between;
    margin: 64px 10px 0 83px;
 }

 .bar-rep{
  display: inline-flex;
  padding: var(--counter, 16px) var(--counter, 32px) var(--counter, 41px) var(--counter, 23px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--counter, 11px);
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  width: 644px;
  height: 420.6px;
 }

 .stock{
display: flex;
width: 317px;
height: 424.6px;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 24px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .signup-ctr{
  max-width: 1440px;
  height: 1000px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 1000px;
  background: linear-gradient(180deg, rgba(184.55, 191.50, 254.05, 0) 0%, rgba(67.33, 77.22, 166.25, 0.31) 74%, #010D75 100%); /* Your gradient definition */
  z-index: 1; /* Ensure gradient is on top */
}
 .avatar-left{
  z-index: 2;
  display: flex;
  width: 700px;
  height: 1000px;
  flex-shrink: 0;
  color: #FCFCFC;
  background-image: url('./Asset/woman.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: linear-gradient(to right, lightgray 0%, lightgray 50%, transparent 50%); */
 }
 .signup-right{
  display: flex;
  width: 700px;
  height: "auto";
 
 }

 .signin-ctr{
  border: 4px solid palevioletred;
  width: 1200px;
  height: 90px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .avatar-right{
    border: 4px solid saddlebrown;
    z-index: 2;
    display: flex;
    width: 614px;
    height: 900px;
    flex-shrink: 0;
    color: #FCFCFC;
    /* background-image: url('./Asset/woman.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: linear-gradient(to right, lightgray 0%, lightgray 50%, transparent 50%); */
  
 }